<!DOCTYPE html>
<html lang="ko" ng-app="myApp">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<title>exam - test</title>
<style>
/* temporary css */
*{margin:0;padding:0}
html,body{height:100%}
body{font-size:14px;font-family:"나눔고딕",NanumGothic,"굴림",Gulim,Sans-serif;line-height:1.5}
h1,h2,h3,h4,h5,h6{font-size:14px}
ul,li{list-style:none}

#wrap{max-height:100%}
#container{margin:0 auto}
.done-true{text-decoration:line-through;color:grey}
/* //temporary css */
</style>
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.0.4/css/bootstrap-combined.min.css">
<!--[if lt IE 9]><script src="http://samsung.com/etc/designs/smg/global/ie9/html5.js"></script><![endif]-->
</head>
<body>
<!-- wrapper [s] -->
<div id="wrap">
    <!-- header [s] -->
    <div id="header" role="banner">@</div>
    <!-- header [e] -->
    <hr />
    <!-- container [s] -->
    <div id="container">
        <div>
            <div ng-controller="TodoListController as todoList">
                <span>{{todoList.remaining()}} of {{todoList.todos.length}} remaining</span>
                [ <a href="" ng-click="todoList.archive()">archive</a> ]
                <ul class="unstyled">
                    <li ng-repeat="todo in todoList.todos">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="todo.done">
                            <span class="done-{{todo.done}}">{{todo.text}}</span>
                        </label>
                    </li>
                </ul>
                <form ng-submit="todoList.addTodo()">
                    <input type="text" ng-model="todoList.todoText" size="30" placeholder="add new todo here">
                    <input class="btn-primary" type="submit" value="add">
                </form>
            </div>
        </div>
        
        <div>
            <tabs>
                <pane title="Localization">
                    <span>Date: {{ '2012-04-01' | date:'fullDate' }}</span><br>
                    <span>Currency: {{ 123456 | currency }}</span><br>
                    <span>Number: {{ 98765.4321 | number }}</span><br>
                </pane>
                <pane title="Pluralization">
                    <div ng-controller="BeerCounter">
                        <div ng-repeat="beerCount in beers">
                            <ng-pluralize count="beerCount" when="beerForms"></ng-pluralize>
                        </div>
                    </div>
                </pane>
            </tabs>
        </div>
    </div>
    <!-- container [e] -->
    <hr />
    <!-- footer [s] -->
    <div id="footer" role="contentinfo">@</div>
    <!-- footer [e] -->
</div>
<!-- [ Javascript Area ] -->
<!-- Libs -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
<script>
(function (win) {
    'use strict';
    angular.module('components', [])
        .directive('tabs', function() {
            return {
                restrict: 'E',
                transclude: true,
                scope: {},
                controller: function($scope, $element) {
                    var panes = $scope.panes = [];
                    $scope.select = function(pane) {
                        angular.forEach(panes, function(pane) {
                            pane.selected = false;
                        });
                        pane.selected = true;
                    }
                    this.addPane = function(pane) {
                        if (panes.length == 0) $scope.select(pane);
                        panes.push(pane);
                    }
                },
                template:
                    '<div class="tabbable">' +
                    '<ul class="nav nav-tabs">' +
                    '<li ng-repeat="pane in panes" ng-class="{active:pane.selected}">'+
                    '<a href="" ng-click="select(pane)">{{pane.title}}</a>' +
                    '</li>' +
                    '</ul>' +
                    '<div class="tab-content" ng-transclude></div>' +
                    '</div>',
                replace: true
            };
        })
        .directive('pane', function() {
            return {
                require: '^tabs',
                restrict: 'E',
                transclude: true,
                scope: { title: '@' },
                link: function(scope, element, attrs, tabsController) {
                    tabsController.addPane(scope);
                },
                template:
                    '<div class="tab-pane" ng-class="{active: selected}" ng-transclude>' +
                    '</div>',
                replace: true
            };
        });

    var myApp = angular.module('myApp', ['components']);
    myApp.controller('TodoListController', function() {
        var todoList = this;
        todoList.todos = [
            {text:'learn AngularJS', done:true},
            {text:'build an AngularJS app', done:false}];

        todoList.addTodo = function() {
            todoList.todos.push({text:todoList.todoText, done:false});
            todoList.todoText = '';
        };

        todoList.remaining = function() {
            var count = 0;
            angular.forEach(todoList.todos, function(todo) {
                count += todo.done ? 0 : 1;
            });
            return count;
        };

        todoList.archive = function() {
            var oldTodos = todoList.todos;
            todoList.todos = [];
            angular.forEach(oldTodos, function(todo) {
                if (!todo.done) todoList.todos.push(todo);
            });
        };
    });
    myApp.controller('BeerCounter', function($scope, $locale) {
        $scope.beers = [0, 1, 2, 3, 4, 5, 6];
        if ($locale.id == 'en-us') {
            $scope.beerForms = {
                0: 'no beers',
                one: '{} beer',
                other: '{} beers'
            };
        } else {
            $scope.beerForms = {
                0: 'žiadne pivo',
                one: '{} pivo',
                few: '{} pivá',
                other: '{} pív'
            };
        }
    });

})(window);
</script>
</body>
</html>
